.btn {
  width: 100%;
  border: 1px solid black;
  background: none;
  font-size: 2rem;
  aspect-ratio: 1/1;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
  text-transform: uppercase;
  color: black;
}

.btn.active {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.btn.inactive {
  opacity: 0.3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}
